name: myapp
description: A new Flutter project.
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  google_fonts: ^2.2.0
  flutter_flavor: ^3.0.3
  firebase_core: ^1.12.0
  google_sign_in: ^5.2.3
  google_sign_in_web: ^0.10.0+4
  shared_preferences: ^2.0.12
  google_ml_kit: ^0.7.3
  camera: ^0.9.4+9
  image_picker: ^0.8.4+5
  camera_web: ^0.2.1+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  assets:
    - assets/images/
  uses-material-design: true